<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/Exam_layout.css">
    </head>
    <body>
        <div class="s_logo text">Choose language
</div>
        <div class="content">
            <div class="logo text"><p>Logo & Sloganp</div>
            
            <div class="banner text">One of 5 banners shown randomly</div>
            
            <div class="search_box text">Search box</div>
            
            <div class="search_option text">Search options</div>
            
            
            <div class="user_name text">Username/password or register</div>
            
            <div class="left_menu text">Left menu:All service' categories with drop-right menu.List provided.</div>
            
            <div class="left_s_menu text">Offer to win something if visitor enters e-mail address here for newsletter signup.</div>
            
            <div class="mid_menu text">Tom menu with dropdown functionality containing:Home, Customer info (from drop down:"coporate"and "personal")Blog,Forum,E-shop,etc.</div>
            
            <div class="s_menu text">Pagination eg. Home->Products->Category->Name</div>
            
            <div class="right_menu text">Latest 2 articles' and blog posts' title, first 30 character and "read more"link</div>
            
            <div class="right_s_menu text">Google
AdSense
sponsored
links</div>
            
            <div class="main_content text">
                <div class="mid_banner text">Sliding and fading banners introducing the main philosophy of the company (appears only on main page).</div>
                Main content area.
            </div>
            <div class="footer text">Footer links sitemap.All categories in columns and sub-pages in rows.</div>
        
            
            
        </div>
        
        
    </body>
</html>